# Stripe API Keys (Test Mode)
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxx

# AWS Region
AWS_REGION=eu-north-1

# S3 Website URL
WEBSITE_URL=http://bus-ticket.s3-website.eu-north-1.amazonaws.com

# API Gateway URL
API_URL=https://z0t1bhhcn6.execute-api.eu-north-1.amazonaws.com/prod
